<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Thymeleaf Test Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-4">Test <span th:text="${id}"></span></h1>
        <p class="lead">Welcome on a test page.</p>
    </div>

</div>

</body>
</html>
